header
  img(src='')
  h1 The Hipper Element
  p Using, Abusing, & Designing Human Nature.
  a(href='#') Author-Joel Marsh: Experience Architect
  nav
    a(href=''): img(src='')
    a(href=''): img(src='')
    a(href=''): img(src='')
main
  article
    time(datetime='2014-05-06')
    .rule
    h1 Daily UX Crash Course: 6 of 31
    p In real life, your mind only puts attention on a small part of the world around you. Otherwise you would be overwhelmed. This lesson is about a basic idea with huge consequences:
    section
      h2 Conscious vs. Subconscious Experience
      .rule2
      em (If you're just starting the User Psychology Crash Course, <a href=''>start here</a>.)
      ****
      h3 Conscious Experience
      p You may hear UXers discussing something called “delight”. Basically it is the art of designing something that makes a user say “wow!”
      p One thing must be true to create delight: the user must be aware of it, consciously.
      p Daniel Kahneman, a Noble Prize-winning psychologist, says our conscious mind is like "<em>a <a href='#'>supporting character</a> who believes herself to be the lead actor and often has little idea of what’s going on.</em>”
      p Sounds like Kanye West with The Kardashians, no?
      p Your conscious experience may feel like the whole experience, but it is actually just a small part. However, it’s still significant.
      p It is what makes people share, like, comment, download, and register.
      p YouTube videos often explicitly tell you to subscribe at the end, because you may not consciously think of doing it otherwise.
      | ****
      h3 Subconscious Experience
      p <em>Subconscious experience</em> usually seems like it <em>just is</em>.
      p It’s how we decide what we trust, what we believe, and what is easy.
      p But there is never a moment when you “decided” to trust something. It just happened. And a user will only notice something being easy if they expected it to be harder. Otherwise they might not even mention it.
      p <em>That</em> is subconcious design.
      p If you want users to trust or understand, your design must feel trustworthy or obvious. If it doesn’t, you can add as much <em>delight</em> as you want and it ain’t gonna fix shit.
      p Usability, for example, is the science of making your designs mentally invisible. You can see them, of course, but the more aware the user is of your form design, the worse the experience. It should feel automatic.
      p The more clever you get with your form design, or your copywriting, the less people will finish the form.
      | ****
      h3 Tomorrow we will go deeper into conscious experience, as we learn more about: <a href=''>Emotions</a>.
footer
  .social1
    a(href=''): img(src='')
    a(href=''): img(src='')
  .social2
    a(href=''): img(src='')
    a(href=''): img(src='')
